/* Estilos Gerais para o Corpo da Página */
body {
    background-color: #121212; /* Fundo escuro */
    color: #ffffff; /* Texto branco */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para o Cabeçalho (Header) */
header {
    background-color: #1db954;
    padding: 15px 40px; /* Reduz a espessura da faixa verde */
    display: flex;
    justify-content: space-between; /* Empurra o logo para a esquerda e o input para a direita */
    align-items: center;
    flex-wrap: wrap; /* Permite que os itens quebrem para a linha de baixo em telas pequenas */
}

.logo-area {
    /* Contêiner para o ícone e o texto do logo */
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o ícone e o texto */
}

.logo-area h1 img {
    height: 80px;
    width: 100px;
}

.logo-area h1 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    font-size: 1.5em; 
    line-height: 1;
}

.logo-icon {
    width: 32px;
    height: 32px;
}

.search-container {
    /* Este contêiner irá ocupar todo o espaço restante e centralizar o item dentro dele */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente o input */
    flex-grow: 1; /* Faz com que o contêiner ocupe o espaço disponível */
}

#searchInput {
    padding: 10px 20px;
    width: 600px; /* Define o comprimento da barra de pesquisa */
    max-width: 100%; /* Garante que a barra não ultrapasse a largura do contêiner */
    border: none;
    border-radius: 50px;
    font-size: 16px;
    background-color: #ffffff;
    box-sizing: border-box;
    text-align: center;
}

.banner-img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.banner-img img {
   max-width: 2000px;
   width: 100%;
   height: auto;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #121212;
    border-top: 1px solid #282828;
    color: #ffff;
    font-size: 0.9em;
    font-family: 'Inter', sans-serif;
    font-style: italic; /* Adiciona o estilo itálico */
}